.game-container {
  position: relative;
  width:100%; 
  height:100%;  
  display:flex;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: content;
}

.game-button{
  border-radius:50%; 
  height:100%;   
  max-height:150px; 
  aspect-ratio: 1/1;
  border:none; 
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer; 
  
}

.game-button-container{
  width:50%; 
  height:50%; 
  display: flex;
  align-items:center;
  justify-content: center;
}

.countdown-container{
  position:absolute; 
  height:100%; 
  width:100%; 
  background-color: rgb(0, 0, 0,0.6); 
  z-index: 2; 
  display:flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color:aqua; */
}

.countdown-text{
  color:white; 
  margin-bottom:20px; 
  font-weight: bolder;
}

.countdown-h3{
  font-size: clamp(1rem, 30cqi, 4rem);
}

.number-container{
  width:200px; 
  height:200px; 
  border-radius:50%; 
  background-color:white; 
  display:flex; 
  justify-content: center;
  align-items: center;
  
}


