.game-container {
  position: relative;
  width:100%; 
  height:100%;  
  display:flex;  
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: content;
}

.game-button{
  border-radius:50%; 
  height:100%;   
  max-height:150px; 
  aspect-ratio: 1/1;
  border:none; 
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer; 
  
}

.game-button-container{
  width:50%; 
  height:50%; 
  display: flex;
  align-items:center;
  justify-content: center;
}

.countdown-container{
  position:absolute; 
  height:100%; 
  width:100%; 
  background-color:rgb(35, 155, 167 ); 
  z-index: 2; 
  display:flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color:aqua; */
}

.countdown-text{
  color:white; 
  margin-bottom:20px; 
  font-weight: bolder;
  color:#E1AA36; 
}

.countdown-h3{
  font-size: clamp(1rem, 30cqi, 4rem);
  color:#ECECBB; 
}

.number-container{
  width:200px; 
  height:200px; 
  border-radius:50%; 
  background-color:#E1AA36; 
  display:flex; 
  justify-content: center;
  align-items: center;
}

.gameover-container{  
  position: absolute;
  background-color: white;
  width:100%; 
  height:100%; 
  z-index:2; 
  display:grid; 
  grid-template-rows:20% 50% 30%;
  grid-template-areas: 
  "header"
  "content"
  "btn"; 
}

.color-circle{ 
  min-height:120px; 
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: black;
  margin:0px 10px 0px 10px;  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.sequence-container{
  width:100%;
  display:flex; 
  justify-content: center;
  align-items: center;
  overflow-y:scroll;
}

.symbol{
  scale:0;
  height:100%; 
  width:100%; 
  animation: showSymbol 400ms 600ms ease-in-out forwards; 
}

.gameover-btn-container{
  display:flex; 
  justify-content: center;
  align-items: start;
}

.gameover-btn{
  display:flex; 
  justify-content: center;
  align-items: center;
  padding:10px; 
  border-radius: 8px;
  min-width:100px; 
  background-color: white;
  font-weight: bold;
  cursor:pointer;
  transition:all 50ms ease-in-out;
  font-size:clamp(0.95rem, 0.9rem + 0.35vw, 1.125rem);
  background-color: #E1AA36;
  color:#ECECBB;
  border:none;  
}

.playAgain-btn span{
  margin-right:10px;
  font-weight: bold;
}

.continue-btn{
  margin-left:20px; 
  
}

.continue-btn span {
  margin-left:10px; 
  font-weight: bold;
}

.gameover-btn:hover{
  scale:1.1;
}


@keyframes showSymbol {
 0% {
  scale:0; 
 }

 50% {
   scale:1.2;
 }

 100%{
  scale:1;
 }
 

}






