*{
  margin:0px; 
  padding:0px; 
}

html {
  font-size: 100%;
}

body {
  font-size: clamp(16px, 1.2vw, 18px);
  line-height: 1.5;
}

h1 {
  font-size: clamp(28px, 4vw, 50px);
  line-height: 1.2;
  color: #E1AA36;
}

h2 {
  font-size: clamp(22px, 3vw, 32px);
  line-height: 1.25;
}

h3 {
  font-size: clamp(18px, 2.2vw, 24px);
  line-height: 1.3;
}

p {
  font-size: clamp(15px, 1.1vw, 18px);
  line-height: 1.6;
}

.main{
  position: relative;
  height:100dvh; 
  width:100%; 
  display:grid; 
  grid-template-rows:20% 60% 20%; 
  grid-template-areas: 
  "header"
  "content"
  "footer"
}

h1{
  grid-area:header; 
  place-self:center; 
  font-family: 'Bungee', cursive;
}